{% for load_balancer in load_balancers %}
frontend {{ load_balancer.name }}
    bind *:{{ load_balancer.listener_port }}
    mode tcp
    option tcplog
    default_backend {{ load_balancer.name }}

backend {{ load_balancer.name }}
    mode tcp
    balance roundrobin
    option tcp-check
{% for hostname in groups[load_balancer.target_group] %}
    server {{ hostname }} {{ hostvars[hostname]["ansible_host"] }}:{{ load_balancer.target_port }} check fall 3 rise 2
{% endfor %}


{% endfor %}